POSTGRES_PASSWORD=change-this-postgres-password
JWT_ISSUER=SecureFileDelivery
JWT_AUDIENCE=SecureFileDelivery
JWT_SECRET_KEY=change-this-jwt-secret-key-to-32-chars-minimum
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change-this-minio-secret-key
MINIO_BUCKET_NAME=statements
MINIO_USE_SSL=false